*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
    
}
body{
    position: relative;
    overflow-x:hidden;
}
.navbar ul{
    width: 100vw;
    height: 10vh;
    display: flex;
    list-style:none;
    font-size: 17px;
    font-family: sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}
.sidehome{
    background-color: rgba(0, 0, 0, 0.507);
    position: relative;
    height: 10vh;
    
}
.sidehome span{
    font-size: 40px;
    position: absolute;
    left:10px;
    top:20px;
    
}
.sidenavbar{
    position: absolute;
    right:-40%;
    animation-duration: 0.5s;
    width: 40%;
    height: 90vh;
    background-color: #423f3f;
    display:none;
    z-index: 2;
}
.sidesearchbox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidesearchbox button{
    width: 25%;
}
.sidesearchbox li{
    width: 75%;
    padding: 10px;
}
.sidesearchbox li input{
    width: 80%;
    height:40px;
}
.sidenavbar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sidenavbar ul li{
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    
    box-shadow: 0px 0px 0.75px black;
}
.sidenavbar ul li a{
    color:rgba(255, 166, 0, 0.806);
    text-decoration: none;
}
.sidesearchinput{
    width: 80%;
}
.navbar span{
    font-size: 40px;
    float: right;
    margin-top:15px;
    margin-right:10px;
    color:orange;
}
.home{
    background-color: #423f3f;
    height: 10vh;
    padding: 20px 50px;
    float: left;    
}
.home span{
    font-size: 40px;
    color: orange;
}
.navleft{
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.navleft a{
    text-decoration: none;
    color:rgb(215, 138, 16);
    font-weight: 600;


}
.navright{
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.searchbox{
    width: 60%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbox li{
    margin: 0px 10px;
}
.sidesearch{
    border:none;
    background-color:#423f3f;
    color:orange;
    
}
#burgermenu{
    display: none;
}
.search{
    border:none;
    background-color:rgba(245, 245, 245, 0);
}
.search span{
    font-size: 30px;
    color:orange;
}
.searchbox input{
    border:none;
    
    font-size: 15px;
    padding: 0px 10px;
    font-family:sans-serif;
    height: 30px;
    color:orange;
    border-radius: 45px;
    box-shadow: rgba(255, 255, 255, 0.169) 0px 4px 12px;
}
.login{
    border:none;
    background-color: rgba(228, 137, 11, 0.902);
    padding: 10px 50px;
    border-radius: 25px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 30px 90px;
}
.container{
    width: 100vw;
    height: 90vh;
   
    
}
.search:hover{
    background-color: rgba(19, 18, 18, 0);
    color:#423f3f;
}
.navleft a:hover{
    background-color: rgba(19, 18, 18, 0);
    color:#ff8400c9;
    padding-bottom: 30px;
    
    border-bottom: 3px solid rgba(0, 0, 0, 0.597)
}
.login:hover{
    background-color: rgb(28, 26, 26);
    color:orange;
}
#backgroundlogin{
    inset:0;
    background-color: #000000b6;
    display: flex;
    justify-content: center;

    display: none;
    position: relative;
    
}
@keyframes login {
    from{ top:-75vh;}
    to{top:10vh; }
}
.loginform{
    z-index: 10;
    width: 525px;
    height:70vh;
    background-color:white;
    border-radius: 15px;
    -webkit-animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            animation-name:swing-in-right-fwd ;

    position: absolute;
    top:10vh; 
    padding: 40px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.topform{
    width: 100%;
}
.switch{
    width: 120px;
    height: 40px;
    border-radius: 35px;
    background-color: #423f3f;
    box-shadow: 1px 1px 4px black inset;
    position: relative;
    
}
.circle{
    background-color: rgba(255, 166, 0, 0.843);
    border-radius: 50%;
    width: 35px;
    margin: 3px;
    height: 35px;
    box-shadow: 1px 1px 2px black;
    animation-name:reverseswitch;
    animation-duration: 0.5s;
    position: absolute;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@keyframes reverseswitch{
    from{
        left:80px;
    }
    to{
        left:0px;
    }
    
}
@keyframes switch{
  from{
    left:0px;
}
  to{
    left:80px;
    
}
}
.after{
    background-color: rgba(255, 166, 0, 0.843);
    border-radius: 50%;
    width: 35px;
    margin: 3px;
    height: 35px;
    box-shadow: 1px 1px 2px black;
    float:right;
    animation-name:switch;
    animation-duration: 0.5s;
    position: absolute;
    right:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topform span{
    float: right;
    color:rgb(200, 139, 24);
    font-size: 40px;
    cursor: pointer;
}
label{
    color:rgb(188, 132, 28);
    width: 100%;
    
}
input[type=submit],input[type=text],input[type=password]{
    width: 100%;
    background-color: #242323d7;
    border:none;
    color:rgba(255, 166, 0, 0.761);
    height: 8%;
    border-radius:30px;
    
    padding: 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.loginform p{
    margin-top: -10px;
    width: 100%;
    font-size: 13px;
    color:rgb(189, 132, 27);
}
input[type=submit]
{
    width: 50%;
    background-color:rgba(255, 166, 0, 0.822);
    color:black;
    margin-top: 5px;

}
input[type=submit]:hover{
    background-color: #423f3f;
    color:orange;
}
.topform span:hover {
    color:#423f3f;
}
.signform{
    z-index: 10;
    width: 525px;
    height:70vh;
    background-color:white;
    border-radius: 15px;
    position: absolute;
    top:10vh; 
    -webkit-animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-name:swing-in-right-fwd ;
    padding: 40px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.signform .loginitems{
    display:none;
}
.loginform .signlabel,.loginform .signinput{
    display: none;
}
@keyframes opensidemenu{
    from{right:-40%}
    to{right:0}    
}
@keyframes closesidemenu{
    from{right:0}
    to{right:-40%}
}
content
/*body of page */
.box{
    
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}
.rightbox_one{
    width: 50vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftbox_one{
    
    flex-direction: column;
    width: 50vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.background{
    width: 90%;
    height: 70%;
    padding: 30px;
    background-color:rgba(2, 255, 158, 0.331);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 
    
}
.background2{
    width: 80%;
    height: 70%;
    padding: 30px;
    background-color:rgba(177, 101, 184, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.background3{
    width: 80%;
    height: 70%;
    padding: 30px;
    background-color:rgba(73, 164, 207, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.background2 h1{
    color:rgb(20, 19, 65);
    font-size: 35px;
    margin:10px;
    font-family: sans-serif;
}
.background2 p{
    color:rgb(20, 19, 65);
    font-size: 20px;
    margin:10px;
    font-family: sans-serif;
    text-align: center;
    width: 70%;
}
.background h1{
    color:rgb(20, 19, 65);
    font-size: 35px;
    margin:10px;
    font-family: sans-serif;
}
.background p{
    color:rgb(20, 19, 65);
    font-size: 20px;
    margin:10px;
    font-family: sans-serif;
    text-align: center;
    width: 70%;
}
.background3 h1{
    color:rgb(20, 19, 65);
    font-size: 35px;
    margin:10px;
    font-family: sans-serif;
}
.background3 p{
    color:rgb(20, 19, 65);
    font-size: 20px;
    margin:10px;
    font-family: sans-serif;
    text-align: center;
    width: 70%;
}
/*.leftbox_one h1{
    color:rgb(20, 19, 65);
    font-size: 35px;
    margin:10px;
    font-family: sans-serif;

}
.leftbox_one p{
    margin:40px;
    width: 400px;
    font-size: 20px;
    text-align:center;
    font-family: sans-serif;
    color:rgb(21, 21, 69);
}
*/
leftbox_one
.content{
    
    width: 80%;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.content button{
    border:none;
    height: 10%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.224);
    background-color: rgba(102, 234, 246, 0.331);
    padding: 10px 20px;
    width: 80%;
    border-radius: 0px;
    font-size:15px;
    color:#000000;
    font-weight:bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.photo1{
    width: 100%;
    height: 70%;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url(/photos/10798281_19362653.jpg);
    border-radius: 5px;
}
.photo2{
    width: 100%;
    height: 70%;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url(/photos/10259340_4401280.jpg);
    border-radius: 5px;
}
.photo3{
    width: 100%;
    height: 70%;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url(/photos/5192494_2695629.jpg);
    border-radius: 5px;
}

.roll-in-left {
	-webkit-animation: roll-in-left 0.6s ease-out both;
	        animation: roll-in-left 0.6s ease-out both;
            animation-iteration-count:1;
}
 @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
/**/
@-webkit-keyframes swing-in-right-fwd {
    0% {
      -webkit-transform: rotateY(-100deg);
              transform: rotateY(-100deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
  }
  @keyframes swing-in-right-fwd {
    0% {
      -webkit-transform: rotateY(-100deg);
              transform: rotateY(-100deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
  }

  
  