@media only screen and (max-width:992px)
{
    body{
        overflow-x: hidden;
    }
    .container{
        height: 90vh;

    }
    .post{
        margin-top: 5vh;
        height:70vh;
    }
    .information{
        height:45%;
        width: 100%;
    }
    .photo{
        width: 100%;
        height: 45%;
    }
    .footer{
        height: 30vh;
        margin-bottom: 50px;
    }
    .items{
        height:10%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .information p{
        margin:5px;
    }
    .squre{
        padding: 10px;
        width: 25%;
        height: 100%;
        font-size: 20px;
    }
}
@media only screen and (max-width:600px)
{
    .information p{
        font-size: 12px;
    }
    .container{
        height: 180vh;
    }
    .post{
        height: 170vh;
    }
    .infobox{
        font-size: 10px;
        padding: 10px;
    }
    .squre{
        width: 100%;
    }
}
 